<div class="col-10 offset-1 about">
  <h1>About - Michael  Porter</h1>

  <p>
    Quotey McQuoteface was built by  <a target="_blank" href="http://github.com/MuddyBootsCode"> Michael Porter</a> and is one of the first steps in his journey to learn to code, build Web Apps, and ultimately put technology in the hands of the hardworking men and women of the oilfield. Michael has spent countless hours in the field, covered in mud and crude oil now he wants to take his "Muddy Boots" experience and use it to make tools that others can use to help them get their work done, in the smartest way possible. 
  </p>
  <br />
  <p>
    In addition to his oilfield experience, Michael has served as a United States Marine, spent time in numerous countries, and has attended no fewer than three colleges and two universities. Don't worry, he'll finish that degree one day. 
  </p>
  <p>
    If you too want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="row">
      <div class="col-12 col-sm-4">
        <img src="http://res.cloudinary.com/dqfo7smhl/image/upload/v1492102263/Muddy_Boots_jbiwlq.jpg" image_tag 'muddyboots.jpg', class: 'img-fluid' >
      </div>
  </div>
      
  

<br class="clear" />
<br />
<br />
<br />
<br />